{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}  Store 
{% endblock %}
{% block content %}

{% if not cart_items %}
<div class="inline-flex text-center mb-4 p-5">
<h2 >Your Shopping Cart is empty</h2>
<br>
<div class="text-centre">
    <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
</div>
</div>
{%else%}
<!-- Cart Start -->
<div class="container-fluid p-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <div class="card">
                <div class="card-header">
                  Billing Address
                </div>
                <div class="card-body">
                 
                  <p class="card-text">{{order.first_name}}</p>
                  <p class="card-text">{{order.full_address}}</p>
                  <p class="card-text">{{order.first_name}}</p>
                  <p class="card-text">{{order.city}},{{order.state}}-{{order.zip}}</p>
                  
                </div>
              </div>
              <br>
              <!-- <div class="card">
                <div class="card-header">
                 Payment Method
                </div>
                <div class="card-body">
                 
                  
                  <a href="{% url 'cash_on_delivery' order.order_number  %}" class="btn btn_1 mt-3" style="padding:17px 35px" >Cash on delivery</a>
                </div>
              </div> -->
              <br>
              <div class="card">
                <div class="card-header">
                  Review Products
                </div>
                <div class="card-body">
                 
                    <div class="col-lg-8 table-responsive mb-5">
                        <table class="table table-light table-borderless table-hover text-center mb-0">
                          <thead class="thead-dark">
                              <tr>
                                  <th>Products</th>
                                  <th>Price</th>
                                  <th>Quantity</th>
                                  <th>Total</th>
                                  
                              </tr>
                          </thead>
                          <tbody class="align-middle">
                              {%for cart_item in cart_items%}
                              <tr>
                                  
                                  <td class="align-middle"><img src="{{cart_item.product.images.url}}" alt="" style="width: 50px;"> {{cart_item.product.product_name}}</td>
                                  <td class="align-middle">
                                    {% if cart_item.product.product_offer%}
                                   ₹{{cart_item.product.product_offer.discount|mul:cart_item.product.price|div:100|sub:cart_item.product.price|abs}}
                                  {% else%}
                                     ₹{{cart_item.product.price}}
                                  {% endif%}
                                  </td>
                                  <td class="align-middle">{{cart_item.quantity}} </td>
                                  <td class="align-middle">₹{{cart_item.sub_total}}</td>
                                  
                                  
                              </tr>
                              
                              {%endfor%}
                          </tbody>
                      </table>
                          
                  </div>
                  
                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-1 p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3 pt-3"><span class="bg-light pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>₹{{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">₹100</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>₹{{grand_total}}</h5>
                    </div>
                    <p class="text-center mb-3 p-3">
                        <img src="{% static 'img/payments.png' %}" height="26">
                    </p>
                    <a href="{% url 'cash_on_delivery' order.order_number  %}" class="btn btn_1 btn-block  btn-primary mt-3" style="padding:10px 35px" >Cash on delivery</a>
                    <br><!-- <a href="{% url 'checkout' %}"><button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button></a> -->
                    <div id="paypal-button-container"></div> 
                    <!-- to load paypal button -->
                    <button class="btn btn_1 btn-block btn-secondary mt-3" style="padding:10px 35px" id="rzp-button1">Pay with Razorpay</button>
                        <form action={% url 'razor_success' %} method="POST">
                            
                            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                            <script>
                            var options = {
                                "key": "{{ razorpay_merchant_key }}", // Enter the Key ID generated from the Dashboard
                                "amount": "{{ razorpay_amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                "currency": "INR",
                                "name": "My cart",
                                "description": "Test Transaction",
                                "image": "https://example.com/your_logo",
                                "order_id": "{{ razorpay_order_id }}", 
                                "callback_url": "{{callback_url}}",
                               
                                "prefill": {
                                    "name": "Anju",
                                    "email": "Ohbaby@gmail.com",
                                    "contact": "9999999999"
                                },
                                "notes": {
                                    "address": "Razorpay Corporate Office"
                                },
                                "theme": {
                                    "color": "#3399cc",
                                    "hide_topbar": true 
                                },
                                "modal": {
                                "animation": true,
                                
                                }
                    
                            };
                            var rzp1 = new Razorpay(options);
                            document.getElementById('rzp-button1').onclick = function(e){
                                rzp1.open();
                                e.preventDefault();
                            }
                            </script>
                    </form>
                
                
                





                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{%endif%}

<!-- Set up a container element paypal for the button -->
<script src="https://www.paypal.com/sdk/js?client-id=AQHXfWRlM_5UNulYzmq-DaLLs0kqtq-EpDj3zNXu7UnWUG4vbpMEAhAE4zHh48XUmanAhZt2J5GT-Ohz&currency=USD&disable-funding=credit,card"></script>
<div id="paypal-button-container"></div>
  <!-- for paypal script -->      
<script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
            }
        }
        return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        var total = '{{ grand_total }}'
        var url = "{% url 'payments' %}"
        var orderID = '{{order.order_number}}'       
        var payment_method= 'Paypal'





        paypal.Buttons({

        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {

        return actions.order.create({
        purchase_units: [{
        amount: {
        value: total   
        }
        }]
        });
        },

        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
        return actions.order.capture().then(function(orderData) {

        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

        const transaction = orderData.purchase_units[0].payments.captures[0];

        // completeOrder()
        sendData();              
        function sendData(){

        //send payment details to backend
                                fetch(url, {
                                method: 'POST',       
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken':csrftoken
                                },
                                body: JSON.stringify({
                                    orderID :orderID,
                                    transID: orderData.id,
                                    payment_method:payment_method,
                                    status:orderData.status,
                                    total:total,
                                }),
                                })
                                .then(response => response.json())
                                .then(data => {
                                console.log('Success:', data);
                                window.location.href = window.location.origin + '/orders/paypal_complete/'
                                console.log(window.location)
                                })
                                .catch((error) => {
                                console.error('Error:', error);

                                }); 

        }

        });
        }
        }).render('#paypal-button-container');
</script>     

{% endblock %}