{% extends 'admin_base.html' %}
{% block title %}
    Products-Add
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.css">
<!-- {% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_images").change(function () {
        if (this.imagess && this.imagess[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.images[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script> -->
{% endblock %}
{% block content%} 

<div class="d-lg-flex  p-5 justify-content-center">
    <div class="contents order-2 order-md-1">

        <div class="container bg-light">
          <div class="row align-items-center justify-content-center">
            <!-- <div class="col-md-7"> -->
              <form action="{% url 'add_products' %}" id="formUpload" method="post" style="padding:2rem;margin:auto; " enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <div class="form-group last mb-3"> -->
                  <h5>Kindly Add New Products details here</h5>
                  {%for field in form.visible_fields %}
                  <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                  </div>
                  {%endfor%}
                    <input type="submit" value="Save" class="btn btn-block btn-primary">
                  <!-- </div> -->
                </form>
            <!-- </div> -->
                        <!-- MODAL TO CROP THE IMAGE
              <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Crop the photo</h4>
                    </div>
                    <div class="modal-body">
                      <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                      <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in">
                          <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out">
                          <span class="glyphicon glyphicon-zoom-out"></span>
                        </button>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                      <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                    </div>
                  </div>
                </div>
              </div> -->
              <script>
                const alertBox = document.getElementById('alert-box')
                const imageBox = document.getElementById('image-box')
                const imageForm = document.getElementById('image-form')
                const confirmBtn = document.getElementById('confirm-btm')
                const input = document.getElementById('id_images')
                const csrf = document.getElementById('csrfmiddlewaretoken')
            
                input.addEventListener('change', ()=>{
                  console.log('changed')
                  const img_data = input.files[0]
                  const url = URL.createObjectURL(img_data)
                  imageBox.innerHTML = '<img src="${url}" id="image" width="500px">'
                  const image = document.getElementById('image')
                  var $image = $('#image');
            
                    $image.cropper({
                      aspectRatio: 16 / 9,
                      crop: function(event) {
                        console.log(event.detail.x);
                        console.log(event.detail.y);
                        console.log(event.detail.width);
                        console.log(event.detail.height);
                        console.log(event.detail.rotate);
                        console.log(event.detail.scaleX);
                        console.log(event.detail.scaleY);
                      }
                    });
            
            // Get the Cropper.js instance after initialized
            var cropper = $image.data('cropper'); 
            
                })
               
            
              </script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js"></script>
              
            <div class="" style="height: 100px; width:100px; margin-top: 30em;">
              <img id="image_1" class="invisible" style="height: 100px; width:100px;" src="" alt="">
              <img id="image_2" class="invisible mt-2" style="height: 100px; width:100px;" src="" alt="">
              <img id="image_3" class="invisible mt-2" style="height: 100px; width:100px;" src="" alt="">
              <img id="image_4" class="invisible mt-2" style="height: 100px; width:100px;" src="" alt="">
              <img id="image_5" class="invisible mt-2" style="height: 100px; width:100px;" src="" alt="">
            </div>
            
            
              <style>
                
                .invisible{
                    display: none;  
                      }
                    input[type='file'] {
                      color: rgba(0, 0, 0, 0);
                      border: none;
                    
                    }
              </style>
            
            
            <script>
              // image 1
            
              const image_1 = document.getElementById('id_images')
              image_1.addEventListener('change',function(event) {
                var image = document.getElementById('image_1');
                image.src = URL.createObjectURL(event.target.files[0]);
                image.classList.remove('invisible')
              });
                //image 2
                const image_2 = document.getElementById('id_images1')
              image_2.addEventListener('change',function(event) {
                var image = document.getElementById('image_2');
                image.src = URL.createObjectURL(event.target.files[0]);
                image.classList.remove('invisible')
            
              });
                //image 3
                const image_3 = document.getElementById('id_images2')
              image_3.addEventListener('change',function(event) {
                var image = document.getElementById('image_3');
                image.src = URL.createObjectURL(event.target.files[0]);
                image.classList.remove('invisible')
            
              });
                 //image 4
                 const image_4 = document.getElementById('id_images3')
              image_4.addEventListener('change',function(event) {
                var image = document.getElementById('image_4');
                image.src = URL.createObjectURL(event.target.files[0]);
                image.classList.remove('invisible')
            
              });
                 //image 5
                 const image_5 = document.getElementById('id_images4')
              image_5.addEventListener('change',function(event) {
                var image = document.getElementById('image_5');
                image.src = URL.createObjectURL(event.target.files[0]);
                image.classList.remove('invisible')
            
              });
            </script> 
          </div>
        </div>
      </div>
</div>
{% endblock %}
