{% extends 'admin_base.html' %}
{% load static %}
{% block title %}
    Products-Add
{% endblock %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.css"> -->
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'crop/css/pixelarity.css' %}">
    <style type="text/css">
      #result{
        display: block;
        position: relative;
        margin-top: 40px;
      }
      .face{
        position: absolute;
        height: 0px;
        width: 0px;
        background-color: transparent;;
        border: 4px solid rgba(10,10,10,0.5);
      }
    </style>  
<!--  -->
{% block content%} 

<div class="d-lg-flex  p-5 justify-content-center">
    <div class="contents order-2 order-md-1">

        <div class="container bg-light">
          <div class="row align-items-center justify-content-center">
            <!-- <div class="col-md-7"> -->
              <form action="{% url 'add_products' %}" id="file" method="post" style="padding:2rem;margin:auto; " enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <div class="form-group last mb-3"> -->
                  <h5>Kindly Add New Products details here</h5>
                  {%for field in form.visible_fields %}
                  <div class="form-group" >
                    {{field.label_tag}}
                    {{field}}
                  </div>
                  {%endfor%}
                    <input type="submit" value="Save" class="btn btn-block btn-primary">
                  <!-- </div> -->
                </form>
                 <div id="carbon-block" style="margin:30px auto"></div>
                  <div style="margin:30px auto"><script type="text/javascript">
                  google_ad_client = "ca-pub-2783044520727903";
                  /* jQuery_demo */
                  google_ad_slot = "2780937993";
                  google_ad_width = 728;
                  google_ad_height = 90;
                  //-->
                  </script>
                <script type="text/javascript">

                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', 'UA-36251023-1']);
                  _gaq.push(['_setDomainName', 'jqueryscript.net']);
                  _gaq.push(['_trackPageview']);
                
                  (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                  })();
                
                </script>
                <script>
                try {
                  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
                    return true;
                  }).catch(function(e) {
                    var carbonScript = document.createElement("script");
                    carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
                    carbonScript.id = "_carbonads_js";
                    document.getElementById("carbon-block").appendChild(carbonScript);
                  });
                } catch (error) {
                  console.log(error);
                }
                </script>
            <!-- </div> -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'crop/js/pixelarity-face.js'%}"></script>
            <script type="text/javascript" src="{% static 'crop/js/script-face.js' %}"></script>
            <script type="text/javascript" src="{% static 'crop/js/pixelarity-faceless.js'%}"></script>
            <script type="text/javascript" src="{% static 'crop/js/script-faceless.js' %}"></script>
                   
              
            
          </div>
        </div>
      </div>
</div>
{% endblock %}