{% extends 'admin_base.html' %}
{% block title %}
    Category-List
{% endblock %}

{% block content%} 

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
<div class="pl-5 justify-content-center pull-left" style="line-height: 1">
    <div class="pl-5">
        <div class="pt-3 pl-5 row">
            <form method="get">
        
                {{filters.form}}
            
                <input type="submit" value="Search" name="">
            
            </form>
            
        </div>
        </div>
        <div class="mr-auto row justify-content-center py-3"> 
            <button type="submit" value="submit"  class="btn btn-primary  mx-auto " ><a href="/add_category" class="btn btn-primary">Add New Category</a></button>  &nbsp &nbsp &nbsp
           
           </div>
<div class="pl-5 justify-content-center  ">
<table class="table center table-bordered table-hover table-active " >  
    <thead class="thead-dark ">  
    <tr>  
        <th scope="col">ID</th>  
        <th scope="col">Category Name</th> 
        <th scope="col">Slug</th>  
        <th scope="col">Description</th>  
        <th scope="col">Image</th>  
        <th scope="col">Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for category in category %}  
    <tr>  
        <td>{{ category.id }}</td>
        <td>{{ category.category_name }}</td>  
        <td>{{ category.slug }}</td>  
        <td>{{ category.description }}</td> 
        <td><img width=30rem src="{{category.images.url}}" alt=""></td>  
        <td>  
            <a href="/edit_category/{{ category.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            &nbsp &nbsp &nbsp
            <a href="{% url 'delete_category' category.id%}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  

</div>
</div>
{% endblock %} 