{% extends 'admin_base.html' %}
{% block title %}
    Order-List
{% endblock %}

{% block content%} 

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
<div class="p-5 justify-content-center pull-left" style="line-height: 1">
<!-- <div class="pt-3 pl-5 row">
<form class="form-inline pt-3 pl-3 my-lg-0" method="POST" action="{% url 'admin_panel' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search for username" aria-label="Search" name="searched">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>  &nbsp &nbsp &nbsp
  <div class="mr-auto">
  <button type="submit" value="submit"  class="btn btn-primary  mx-auto " ><a href="/add" class="btn btn-primary">Add New User</a></button>  &nbsp &nbsp &nbsp
  <button type="submit" value="submit"  class="btn btn-primary mr-auto"><a href="/signout" class="btn btn-primary">signout</a></button>  
</div> -->
<!-- </div> -->

<div class="p-5 justify-content-center  ">
<table class="table center table-bordered table-hover table-active " >  
    <thead class="thead-dark ">  
    <tr>  
        <th scope="col">Order Id</th>
        <th scope="col">User</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Status</th>
        <th scope="col">State</th>
        <th scope="col">Total price</th>
        <th scope="col">Edit</th>
        <th scope="col">Cancel</th> 
    </tr>  
    </thead>  
    <tbody>  
{% for txn in orders %}  
    <tr>  
        <th scope="row">{{txn.order.order_number}}</th>
        <th scope="row">{{txn.user}}</th>
        <td>{{txn.payment.payment_method}}</td>
        <td> {{txn.order.status}}</td>
        <td>{{txn.order.state}}</td>
        <td>{{txn.product_price}}</td>

        <td>
            <!-- <select name="size" class="form-control " style ="width:150px" required>
                 <option value="" disabled selected>select</option> -->
            <!-- <form action="" method="POST" style="padding:2rem;margin:auto; "   enctype="multipart/form-data">
                {% csrf_token %}
                {{form.status}}
                <button type="submit">save</button> -->
            <a href="{% url 'admin_orderedit' txn.order.order_number %} ">edit<i class="fas fa-edit"></i></a> </td>
        
        <td><a href="{% url 'order_cancel' txn.order.order_number %}">cancel<i class="fas fa-delete"></i></a></td>
        
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<!-- <div class="mr-auto"> 
 <button type="submit" value="submit"  class="btn btn-primary  mx-auto " ><a href="/add_category" class="btn btn-primary">Add New Category</a></button>  &nbsp &nbsp &nbsp
</div> -->
</div>
</div>
{% endblock %} 