{% extends 'admin_base.html' %}
{% block title %}
    Order-List
{% endblock %}

{% block content%} 

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
<div class="p-5 justify-content-center pull-left" style="line-height: 1">
<!-- <div class="pt-3 pl-5 row">
<form class="form-inline pt-3 pl-3 my-lg-0" method="POST" action="{% url 'admin_panel' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search for username" aria-label="Search" name="searched">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>  &nbsp &nbsp &nbsp
  <div class="mr-auto">
  <button type="submit" value="submit"  class="btn btn-primary  mx-auto " ><a href="/add" class="btn btn-primary">Add New User</a></button>  &nbsp &nbsp &nbsp
  <button type="submit" value="submit"  class="btn btn-primary mr-auto"><a href="/signout" class="btn btn-primary">signout</a></button>  
</div> -->
<!-- </div> -->

<div class="p-5 justify-content-center  ">
<table class="table center table-bordered table-hover table-active " >  
    <thead class="thead-dark ">  
    <tr>  
        <th scope="col">Order Id</th>
        <th scope="col">User</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Status</th>
        <th scope="col">State</th>
        <th scope="col">Total price</th>
        <th scope="col">Actions</th>
        <!-- <th scope="col">Cancel</th>  -->
    </tr>  
    </thead>  
    <tbody>  
{% for item in orders %}  
    <tr>  
        <th scope="row">{{item.order.order_number}}</th>
        <th scope="row">{{item.user}}</th>
        <th>{{item.payment.payment_method}}</th>
        <th> {{item.order.status}}</th>
        <th>{{item.order.state}}</th>
        <th>{{item.product_price}}</th>

        <th>
            <!-- {% if item.order.status == 'Cancelled' or item.order.status == 'Returned' or item.order.status == 'Delivered' %}
            Can't Change
            {% else %}
            <div class="dropdown">
              <button class="btn btn-info text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Order Status
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item " href="{% url 'order_order' item.order.order_number %}">Ordered</a></li>
                <li><a class="dropdown-item " href="{% url 'ship_order' item.order.order_number %}">Shipped</a></li>
                <li><a class="dropdown-item " href="{% url 'deliver_order' item.order.order_number %}">Delivered</a></li>
                <li><a class="dropdown-item " href="{% url 'cancel_order_admin' item.order.order_number %}">Cancelled</a></li>
                <li><a class="dropdown-item " href="{% url 'return_order_admin' item.order.order_number%}">Returned</a></li>
              </ul>
            </div>
            {% endif %} -->
            <a href="{% url 'admin_orderedit' item.order.order_number %} ">edit<i class="fas fa-edit"></i></a>
                
        </th>
        
        
        
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<!-- <div class="mr-auto"> 
 <button type="submit" value="submit"  class="btn btn-primary  mx-auto " ><a href="/add_category" class="btn btn-primary">Add New Category</a></button>  &nbsp &nbsp &nbsp
</div> -->
</div>
</div>
{% endblock %} 