{% extends 'base.html' %}
{% load static %}
{% block title %}  Profile
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
<section style="background-color: #eee;">
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" href="/change_password" ><i class="fa fa-credit-card"></i>Change Password</a>
                    <a class="nav-link" href="/add_address"><i class="fa fa-map-marker-alt"></i>Address</a>
                    <a class="nav-link" href="{% url 'user_profile' %}"><i class="fa fa-user"></i>Account Details</a>
                    <a class="nav-link" href="/signout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8 pl-5">
            <div class="card mb-4">
              <div class="card-body ">
                
                <form action="{% url 'change_password' %}" method="POST" class="col-sm-9 " style="padding:2rem;margin:auto;">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <input class="form-control" name="current_password" type="password" placeholder="Current Password" required>
                        </div>
                        <br>
                        <div class="col-md-12 p-3">
                            <input class="form-control" name="new_password" type="password" placeholder="New Password" required>
                        </div>
                        <br>
                        <div class="col-md-12 p-3">
                            <input class="form-control"name="confirm_password" type="password" placeholder="Confirm Password" required>
                        </div>
                        <br>
                        <div class="col-md-12 p-3">
                      <input type="submit" value="Save" class="btn btn-block btn-primary">
                    </div>
                </form>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

{% endblock %}