{% extends 'base.html' %}
{% load static %}
{% block title %}  Profile
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}

{% url 'referrals' as referral %}
{% url 'user_profile' as profile %}
{% url 'my_address' as address %}
{% url 'my_order' as order %}
{% url 'change_password' as password %}
<section class="pl-0" style="background-color: #eee;">
  <div class="container pt-3 pl-0">
  <div class="container mx-auto">
      <div class="row">
          <div class="col-md-3">
              <!-- <div class="card mb-4" > -->
              <!-- <div class="card-body text-center" style="color: rgb(138, 133, 133);"> -->
              <div class="nav flex-column nav-pills" aria-orientation="vertical">
                  <a class="nav-link {%if  request.path == referral %} active {%endif%}" href="{% url 'referrals' %}"><i class="fa fa-tachometer-alt"></i>Refferal</a>
                  <a class="nav-link {%if  request.path == order %} active {%endif%}"  href="/my_order" ><i class="fa fa-shopping-bag"></i>Orders</a>
                  <a class="nav-link {%if  request.path == password %} active {%endif%}" href="/change_password" ><i class="fa fa-credit-card"></i>Change Password</a>
                  <a class="nav-link {%if  request.path == address %} active {%endif%}"  href="/my_address" ><i class="fa fa-map-marker-alt"></i>Address</a>
                  <a class="nav-link {%if  request.path == profile %} active {%endif%}"  href="{% url 'user_profile' %}"><i class="fa fa-user"></i>Account Details</a>
                  <a class="nav-link " href="/signout"><i class="fa fa-sign-out-alt"></i>Logout</a>
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>
        <div class="col-lg-8 pl-5">
            <div class="col-lg-10 p-4 bg-light">
                <strong class="d-inline-block mr-3">Your Order History</strong>

    
                        <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Order #</th>
                                <th scope="col">Billing Name</th>
                                
                                <th scope="col">Order Total(₹)</th>
                                <!--  -->
                                <th scope="col">Order Status</th>
                                <th scope="col">Cancel/Return</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders%}
                              <tr>
                                <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a> </th>
                                <td>{{order.full_name}}</td>
                               

                                {% if order.discount_amount is None %}
                                <td class="text-right">{{order.order_total}}</td>
                                {% else %}
                                <td class="text-right">{{order.nett_paid}}</td>
                                {% endif %}
                               
                                <td>{{order.status}}</td>
                                
                                {% if order.status == "Cancelled" %}
                                <td>Order Cancelled</td>
                                {% elif order.status == "Returned" %}
                                  <td>Order Returned</td>
                                {% elif order.status == "Delivered" %}
                                <td> <form action="{% url 'return_order' order.order_number %}" method="POST">{% csrf_token %}
                                  <input name="user_order_return" type="text" value="Return" hidden>
                                  <button type="submit" class="btn btn-warning" >Return Order</button>
                                </form></td>
                                
                                {% else %}
                                <td> <form action="{% url 'user_order_cancel' order.order_number %}" method="POST">{% csrf_token %}
                                  <input name="user_order_cancel" type="text" value="Cancelled" hidden>
                                  <button type="submit" class="btn btn-danger" >Cancel order</button>
                                </form></td>
                                {% endif %}


                              </tr>
                              
                      {% endfor%}  
                            </tbody>
                            
                          </table>
                          <nav class="mt-4" aria-label="Page navigation sample">
                            {% if orders.has_other_pages %}
                              <ul class="pagination">
                            {% if orders.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{orders.previous_page_number}}">Previous</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for i in orders.paginator.page_range %}
                              {% if orders.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if orders.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{orders.next_page_number}}">Next</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                            </ul>
                            {% endif %}
                          </nav>
                    </div>


                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
   

{% endblock %}