{% extends 'base.html' %}
{% load static %}
{% block title %}  Order
{% endblock %}
{% block content %}

{% url 'referrals' as referral %}
{% url 'user_profile' as profile %}
{% url 'my_address' as address %}
{% url 'my_order' as order %}
{% url 'change_password' as password %}
<section class="pl-0" style="background-color: #eee;">
  <div class="container pt-3 pl-0">
  <div class="container mx-auto">
      <div class="row">
          <div class="col-md-3">
              <!-- <div class="card mb-4" > -->
              <!-- <div class="card-body text-center" style="color: rgb(138, 133, 133);"> -->
              <div class="nav flex-column nav-pills" aria-orientation="vertical">
                  <a class="nav-link {%if  request.path == referral %} active {%endif%}" href="{% url 'referrals' %}"><i class="fa fa-tachometer-alt"></i>Refferal</a>
                  <a class="nav-link {%if  request.path == order %} active {%endif%}"  href="/my_order" ><i class="fa fa-shopping-bag"></i>Orders</a>
                  <a class="nav-link {%if  request.path == password %} active {%endif%}" href="/change_password" ><i class="fa fa-credit-card"></i>Change Password</a>
                  <a class="nav-link {%if  request.path == address %} active {%endif%}"  href="/my_address" ><i class="fa fa-map-marker-alt"></i>Address</a>
                  <a class="nav-link {%if  request.path == profile %} active {%endif%}"  href="{% url 'user_profile' %}"><i class="fa fa-user"></i>Account Details</a>
                  <a class="nav-link " href="/signout"><i class="fa fa-sign-out-alt"></i>Logout</a>
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>
<div class='p-5'>
    <h5>Your order "{{ord.order_number}}"" has been returned and expected pickup date is 15 May 2022
    </div>
{% endblock %}